@page "/404"

<PageTitle>404 Not Found</PageTitle>

<div id="not-found">
    <h1 class="header">404 Not Found</h1>
    <p>The page you are looking for could not be found.</p>
    <NavLink class="btn" href="/">Go to the home page?</NavLink>
</div>