@page "/"

<PageTitle>PostSpace</PageTitle>

<div id="landing" class="m-0">
	<h1 class="header">Where post are born</h1>
	<h6>PostSpace is a place where you can share your thoughts with the internet.</h6>
	<NavLink class="btn" href="/register">Learn More</NavLink>
</div>

<div id="after-landing"></div>