@page "/"

<PageTitle>Home</PageTitle>

<div id="landing" class="container">
    <h1>Where blogs come to life</h1>
    <h6>PostSpace is a blogging platform where you can create your own blog and share your thoughts with the world</h6>
    <NavLink class="btn btn-primary" href="/register">Learn More</NavLink>
</div>